/** biome-ignore-all lint/complexity/noImportantStyles: root rules */
@utility collapse-folder-state {
  &:checked + .prItem .collapse-button svg {
    @apply -rotate-90;
  }

  &:checked + .prItem + ul {
    @apply hidden;
  }

  &:not(:checked) + .prItem + ul {
    @apply block;
  }

  &:checked + .prItem .pr-file .dir-open {
    @apply inline-block;
  }
  &:checked + .prItem .pr-file .dir-close {
    @apply hidden;
  }
  &:not(:checked) + .prItem .pr-file .dir-open {
    @apply hidden;
  }
  &:not(:checked) + .prItem .pr-file .dir-close {
    @apply inline-block;
  }
}

@utility sidebar-container {
  &:hover .prSep {
    @apply border-[#2F353D];
  }
}

@utility sidebar-virtualized {
  &[data-virtualized="true"] .prItem {
    contain: strict;
    content-visibility: auto;
    contain-intrinsic-size: auto 32px;
  }
}

@utility collapse-diff-state {
  &:checked + .diffBlock .collapse-diff-button svg {
    @apply -rotate-90;
  }

  &:checked + .diffBlock {
    contain-intrinsic-size: auto 83px !important;
    @media (min-width: 34rem) {
      contain-intrinsic-size: auto 62px !important;
    }
  }

  &:checked + .diffBlock .diffContent {
    @apply hidden;
  }

  &:not(:checked) + .diffBlock .diffContent {
    @apply block;
  }

  &:checked + .diffBlock .diffHeader {
    @apply rounded-b-(--borderRadius-medium);
  }
}

@utility diffBlock {
  &:target .difWrapper {
    box-shadow: 0 0 0 2.5px #1f6feb;
    border-radius: var(--borderRadius-medium);
  }
  &:target .fakeBorder {
    background-color: #1f6feb;
  }
  &:target .difWrapper .diffHeader {
    border-top-color: #1f6feb;
  }
}
